.header_container {
  font-family: "Noto Sans KR", sans-serif;
  z-index: 1;
  position: relative;
}
.header {
  background-color: #22222267;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  padding: 0 160px;
}
.header .nav .tab {
  display: flex;
  gap: 20px;
}
.header .sign {
  display: flex;
  gap: 12px;
}
.gnb_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  color: #fff;
  padding: 0 160px;
  height: 80px;
  line-height: 80px;
}
.logo {
  display: flex;
  gap: 6px;
}
.logo h1 {
  line-height: 1;
  font-size: 14px;
}
.logo p {
  background-color: #fff;
  width: 30px;
  height: 30px;
}
.logo span {
  background-color: #fff;
  border-radius: 120px;
  width: 30px;
  height: 30px;
  margin-left: -3px;
}
.gnb {
  display: flex;
  align-items: center;
  gap: 36px;
}
.gnb_wrap .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gnb_wrap .nav .btn1 i {
  font-size: 18px;
  padding-top: 4px;
}
.gnb_wrap .nav .btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-right: 6px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 95px;
  height: 32px;
  font-size: 14px;
}
.gnb_wrap .nav .btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-right: 6px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 95px;
  height: 32px;
  color: #666;
  background-color: #fff;
  font-size: 14px;
}
.xi-search {
  margin-right: 16px;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  display: flex;
}
